{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Plans Picked</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Plan Info</th>
                                <th scope="col"></th> <!--Plan info will span two columns-->
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %} <!--Iterate through each plan, with a row for each one
                        column 1=plan image. column 2=Plan's name...was sku maybe description or technique?
                        3rd column=price 4th= 5th=subtotal
                    -->
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.plan.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.plan.name }}</strong></p>
                                        <p class="my-0 small text-muted">Technique: {{ item.plan.technique|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.plan.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %} 
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a> <!--Update quantity which will submit form-->
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a> <!--Remove item from bag...data attribute, discern which specific item customer wants to remove-->
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.plan.price | calc_subtotal:item.quantity }}</p> <!--subtotal-to be fixed later-->
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.plan.level }}</p> <!--added may not work-->
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.plan.goal }}</p> <!--added may not work-->
                                    </td>
                                </tr>
                            {% endfor %}´
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6> <!--should just be normal total, walkthrough adj for delivery-->
                            </tr>           <!--consider adding summary of costs-->
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'plans' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Check out more plans</span> <!--Go back to view plans-->
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span> <!--Take to checkout page once created-->
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                </div>
            {% else %}
                <p class="lead mb-5">You picked no plans.</p>
                <a href="{% url 'plans' %}" class="btn btn-outline-black rounded-0 btn-lg"> <!--link back to plans page-->
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Go find a plan that works for you.</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postload_js %}
{{ block.super }}
{% include 'plans/includes/quantity_input_script.html' %}

<script type="text/javascript"> //new js script to handle two anchor elements (update item and remove item)
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form'); //on click event, use previous method to find most recently seen update form in DOM, store form in variable
        form.submit(); //calls form's submit method
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) { //
        var csrfToken = "{{ csrf_token }}"; //csrf token stored as strong...template variable no %
        var itemId = $(this).attr('id').split('remove_')[1]; //item id removed
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
    
        var data = {'csrfmiddlewaretoken': csrfToken}; //data variable object used to send data to server. data variable contains special ssrf key and size
        //csrf middleware token will match field django expects to see in request.post when psted to server
        $.post(url, data) //post data to url which will be created later...post method from jquery
         .done(function() {
             location.reload(); //once response back from server, reload page to updated bag...execute function ro reload page
         });
    })
</script>
{% endblock %}