<div class="footer container-fluid">
  <footer class="pb-xl-0 pb-md-5 py-sm-5">
  <div class="container">
      <div class="row">
        <div class="col-12 page-header mb-4">
          <h2 class="footer-header">Stay in touch:</h2>
          <hr class="block-divider block-divider--short">
        </div>
     </div>
     <div class="row">
       <div class="col-12 col-md-6">
         <h3>Social</h3>
         <p>Keep up to date with all our latest offers</p>
         <a href="https://www.facebook.com/profile.php?id=100093499517302" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
       </div>
       <div class="col-12 col-md-6">
         <h2>Subscribe!</h2>
         <p>All things diet related in our monthly Nutrition newsletter, which has a supplement on supplements!</p>
         <!-- Mailchimp signup form here -->
         
        </div>
     </div>
   <p class="copyright"> by Pendulum to Paper Productions Limited</p>
 </div>
 </footer>
</div>
