<div class="collapse navbar-collapse" id="main-nav">
    <!--boilerplate from bootstrap-->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Difficulty</a>
                <a href="" class="dropdown-item ">By Occupation</a>
                <a href="" class="dropdown-item">All Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mobile job
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Working with patients</a>
                <a href="" class="dropdown-item">Working with animals</a>
                <a href="" class="dropdown-item">Teacher</a>
                <a href="" class="dropdown-item">Athlete or instructor</a>
                <a href="" class="dropdown-item">Performer</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sedentary job
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Access to gym &amp; equipment </a>
                <a href="" class="dropdown-item">No access to gym but access to equipment </a>
                <a href="" class="dropdown-item">No access to gym &amp; no access to equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Work from home
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Set hours with structure</a>
                <a href="" class="dropdown-item">Random hours &amp; no structure</a>
                <a href="" class="dropdown-item">Some structured weeks &amp; some unstructured weeks</a>
            </div>
        </li>
    </ul>
</div>