<div class="collapse navbar-collapse" id="main-nav">
    <!--boilerplate from bootstrap-->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'ffw' %}" id="ffw-link">
                FFW
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-plans-link">
                <a href="{% url 'plans' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'plans' %}?sort=tier&direction=asc" class="dropdown-item ">By Tier</a>
                <a href="{% url 'plans' %}?sort=goal" class="dropdown-item ">By Goal</a>
                <a href="{% url 'plans' %}?" class="dropdown-item">All Plans</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="technique-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Techniques
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="technique-link">
                <a href="{% url 'plans' %}?technique=Ikigai" class="dropdown-item">Ikigai</a>
                <a href="{% url 'plans' %}?technique=Kaizen" class="dropdown-item">Kaizen</a>
                <a href="{% url 'plans' %}?technique=Pomodoro" class="dropdown-item">Pomodoro</a>
                <a href="{% url 'plans' %}?technique=Hara Hachi Bu" class="dropdown-item">Hara Hachi Bu</a>
                <a href="{% url 'plans' %}?technique=Shoshin" class="dropdown-item">Shoshin</a>
                <a href="{% url 'plans' %}?technique=Wabi-sabi" class="dropdown-item">Wabi-sabi</a>
                <a href="{% url 'plans' %}?technique=Forest bathing" class="dropdown-item">Forest bathing</a>
                <a href="{% url 'plans' %}?technique=Kakeibo" class="dropdown-item">Kakeibo</a>
                <a href="{% url 'plans' %}?technique=Ikagai,Kaizen,Pomodoro,Hara Hachi Bu,Shoshin,Wabi Sabi,Forest Bathing,Kakeibo" class="dropdown-item">All Techniques</a>
                
            </div>
        </li>
     
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="other-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-link">
                <a href="{% url 'privacy' %}" class="dropdown-item">Privacy policy <i class="fa-solid fa-lock"></i></a>
                <a href="{% url 'techniques' %}" class="dropdown-item">Information on techniques <i class="fa-regular fa-circle-question"></i></a>
                <a href="{% url 'founder' %}" class="dropdown-item">More about the founder <i class="fa-solid fa-fingerprint"></i></a>
                <a href="{% url 'nutrition_newsletter' %}" class="dropdown-item">Nutrition newsletter <i class="fa-solid fa-utensils"></i></a>
            </div>
        </li>
    </ul>
</div>