<div class="collapse navbar-collapse" id="main-nav">
    <!--boilerplate from bootstrap-->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'ffw' %}" id="ffw-link">
                FFW
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-plans-link">
                <a href="{% url 'plans' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'plans' %}?sort=tier" class="dropdown-item ">By Tier (1,2,3)</a>
                <a href="{% url 'plans' %}?sort=goal" class="dropdown-item ">By Goal (Weight loss, Muscle gain, Keep fit)</a>
                <a href="{% url 'plans' %}?" class="dropdown-item">All Plans</a>
            </div>
        </li>
        <!--I don't think direction applies to level (Change to 1,2,3 have have page explaining) and goal sorting as they are not numerical-->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="job-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Job type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="job-type-link">
                <a href="{% url 'plans' %}?type=Work from home" class="dropdown-item">Work from home</a>
                <a href="{% url 'plans' %}?type=Sedentary - access to home equipment" class="dropdown-item">Sedentary - access to home equipment</a>
                <a href="{% url 'plans' %}?type=Sedentary - no access to gym & equipment" class="dropdown-item">Sedentary - no access to gym & equipment</a>
                <a href="{% url 'plans' %}?type=Sedentary - access to gym & equipment" class="dropdown-item">Sedentary - access to gym & equipment</a>
                <a href="{% url 'plans' %}?type=Mobile - access to home equipment" class="dropdown-item">Mobile - access to home equipment</a>
                <a href="{% url 'plans' %}?type=Mobile - access to gym & equipment" class="dropdown-item">Mobile - access to gym & equipment </a>
                <a href="{% url 'plans' %}?type=Mobile - no access to gym & equipment" class="dropdown-item">Mobile - no access to gym & equipment</a>
                <a href="{% url 'plans' %}?type=All types" class="dropdown-item">Unemployed or retired</a>
            </div>
        </li>
        <!--name is used here (programmatic name not friendly_name)...will there be an issue here?-->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="technique-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Techniques
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="technique-link">
                <a href="{% url 'plans' %}?technique=Ikigai" class="dropdown-item">Ikigai</a>
                <a href="{% url 'plans' %}?technique=Kaizen" class="dropdown-item">Kaizen</a>
                <a href="{% url 'plans' %}?technique=Pomodoro" class="dropdown-item">Pomodoro</a>
                <a href="{% url 'plans' %}?technique=Hara Hachi Bu" class="dropdown-item">Hara Hachi Bu</a>
                <a href="{% url 'plans' %}?technique=Shoshin" class="dropdown-item">Shoshin</a>
                <a href="{% url 'plans' %}?technique=Wabi-sabi" class="dropdown-item">Wabi-sabi</a>
                <a href="{% url 'plans' %}?technique=Forest bathing" class="dropdown-item">Forest bathing</a>
                <a href="{% url 'plans' %}?technique=Kakeibo" class="dropdown-item">Kakeibo</a>
                <a href="{% url 'plans' %}?technique=Ikagai,Kaizen,Pomodoro,Hara Hachi Bu,Shoshin,Wabi Sabi,Forest Bathing,Kakeibo" class="dropdown-item">All Techniques</a>
                
            </div>
        </li>
     
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">More info on techniques</a>
                <a href="" class="dropdown-item">Privacy policy</a>

            </div>
        </li>
    </ul>
</div>