<h1>Techniques-broken out and explained!</h1>

<div class="container-fluid">
    <h2>1. Kakeibo</h2>
    Make a budget and stick to it. Once you have your finances in order, you'll feel less stressed and more motivated to tackle your other goals.
    
    <h2>2. Forest bathing</h2>
    Spend time in nature. It's scientifically proven to reduce stress and improve your mood. Take a walk in the park, breath fresh air and let nature recharge you
    
    <h2>3. Wabi-sabi</h2>
    Embrace imperfection. Instead of stressing over every little detail, focus on what's important and find beauty in the simplicity. Done is better than perfect, so go ahead and take action.
    
    <h2>4.Shoshin</h2>
    Approach tasks with a beginner's mindset. Don't worry about being perfect or having all the answers. Just be open to learning and trying new things.
    
    <h2>5. Hara Hachi Bu</h2>
    Don't stuff yourself. Eat until you're 80% full and you'll feel more energised throughout the day. Plus you won't have to unbutton your pants after lunch.
    
    <h2>6.Pomodoro</h2>
    Work for 25 minutes, take a break for 5mins, then repeat. This helps you to stay focussed and avoid burnout. It's a gamechanger for productivity.
    
    <h2>7. Kaizen</h2>
    Focus on small improvements every day. you don't have to do everything at once, just aim to make progress little by little.
    
    <h2>8. Ikigai</h2>
    Discover your purpose in life. Determine the reason you wake up each morning. Choose something that aligns with your strengths, passions and the needs of the world. This is what gives life meaning.
</div>