.StripeElement,
.stripe-style-input { /* stripe-style-input added as it is a class in forms and will apply same styling to fields*/    
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus, /* stripe-style-input added as it is a class in forms and will apply same styling to fields*/ 
.stripe-style-input:active { /* stripe-style-input added as it is a class in forms and will apply same styling to fields*/ 
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder { /* stripe-style-input added as it is a class in forms and will apply same styling to fields*/ 
    color: #aab7c4;
}

.fieldset-label {
    position:relative;
    right: 0.5rem;
}

#payment-form, .form-control,
#card-element {
    color:purple;
    border: 1px solid brown;
}