{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Plans</h2>
                {% for c in current_occupations %}
                    <a class="occupation-badge text-decoration-none" href="{% url 'plans' %}?occupation={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                        <!--occupation-badge css class for styling-ensure corresponding css class is updated-->
                    <hr class="w-50 mb-1">
                <hr class="w-50 mb-1">
            </div>
        </div>
        <!-- row to contain page title and any currently selected categories-->
        <div class="row">
            <div class="plan-container col-10 offset-1"></div>
            <div class="row mt-1 mb-2">
                 <!-- Layout of two columns, this layout puts sort select box on top on mobile but using order-first and order-last classes, adjusts it so
                sort select box will be last column on medium and larger screens(laptops, pcs) Moving to sort select, standard select box, determine selected value
                check value of current sorting template variable. Returning from view, none_none if no sorting selected. if value is
            price_ascending, this option selected in box...javascript to be written later-->
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <!--option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}-->Level (low to high)</option> <!--level cannot be high to low as it is not numeric, can't be alphabetic, how do I make it Beginner, Intermediate, Advanced...custom?-->
                            <option value="occupation_asc" {% if current_sorting == 'occupation_asc' %}selected{% endif %}>Occupation (A-Z)</option> <!--delete name as occupation and name more or less the same-->
                            <option value="occupation_desc" {% if current_sorting == 'occupation_desc' %}selected{% endif %}>Occupation (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_occupations or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'plans' %}">Plans Home</a> | </span>
                        {% endif %}
                        {{ plans|length }} Plans{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for plan in plans %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if plan.image %}
                                <a href="{% url 'plan_detail' plan.id %}">
                                    <img class="card-img-top img-fluid" src="{{ plan.image.url }}" alt="{{ plan.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'plan_detail' plan.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ plan.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ plan.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">€{{ plan.price }}</p>
                                            <!-- to display occupation on card includes a link also...link if you click on, filters only that occupation-->
                                            {% if plan.occupation %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'plans' %}?occupation={{ plan.occupation.name }}">
                                                    <i class="fa-solid fa-certificate mr-1"></i>{{ plan.occupation.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                             <!-- to display level and wreath on card-->
                                            {% if plan.level %}
                                                <small class="text-muted"><i class="fa-solid fa-medal mr-1"></i>{{ plan.level }}</small>
                                            {% else %}
                                                <small class="text-muted">No level specified</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold"></p>
                                            <!-- to display goal and bullseye on card-->
                                            {% if plan.goal %}
                                                <small class="text-muted"><i class="fa-solid fa-bullseye mr-1"></i>{{ plan.goal }}</small>
                                            {% else %}
                                                <small class="text-muted">No goal specified</small>
                                            {% endif %}
                                            <!-- to display goal and icon on card-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- code for card comes from Bootsrap docs-->
                    {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <!-- to be explicit but not needed as counter always divisible by 1 mb=bottom margin-->
                        <hr>
                    </div>
                {% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <!-- hidden on large and up-->
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <!-- hidden on everything but large-->
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
            <!-- for loop is to adjust horizontal rule to screen size-->
            </div>
            <!-- django for loop to iterate through products variable-->

        </div>
        <!-- row for products-->
    </div>
{% endblock %}

