<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/7aab5ae5f2.js" crossorigin="anonymous"></script>
    <title>Founder</title>
</head>

<body style="background-color: teal;">

<div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
    <a href="{% url 'ffw' %}" class="nav-link main-logo-link">
        <h2 class="logo-font text-black my-0"><strong>Fit</strong> For <strong>Work</strong> Main Page <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/FFW+logo.png" alt="FFW Logo" style="width:100px;height:100px; border-radius: 50%;"></h2>
    </a>
</div>

<h1>Who is <em>she</em> <i class="fa-solid fa-venus-mars"></i></h1>

<p><a rel="external" target="_blank" href="http://www.valerieniloinsigh.com/">Valerie Ni Loinsigh</a> is the founder of <b>Fit for Work.</b> </p>

<h1>What are her qualifications? <i class="fa-solid fa-user-graduate"></i></h1>

<p>Qualified personal trainer with <a rel="external" target="_blank" href="https://www.setantacollege.com/?gclid=CjwKCAjws7WkBhBFEiwAIi1687rxp9XZmOV4HDjpdg3Q2u4RUxdX9Yy5ya3c1N822zYN3NnZjC7eKBoCSPsQAvD_BwE">Setanta College</a></p>
 
<h1>What about her own work-life balance? <i class="fa-solid fa-scale-balanced"></i></h1>

<p>Hectic work as Assistant Manager of <a rel="external" target="_blank" href="https://www.bnymellon.com/emea/en.html">Bank of New York Mellon</a>, in the Cork Office.
Greatly values work-life balance and ensures to find the time for everything.
She also manages <a rel="external" target="_blank" href="https://www.pendulumtopaper.com/">Pendulum to Paper Productions Limited</a>, which is a limited company,
registered with the CRO in Ireland. Fit For Work will be in affiliation with Pendulum to Paper, particularly with regard
to clients who have an occupation involving the arts or require an particular aesthetic for a role/performace. </p>

<h1>What experience does she have with workouts? <i class="fa-solid fa-dumbbell"></i></h1>

<p>She lost five stone after completing ACA exams (102-70kg).
She goes to the gym five days a week, which she attributes as 'all down to planning'.
Ensures to always get quality nutrition and sleep.
More info on nutrition can be seen if you subscribe to the nutrition newsletter at the bottom of 
this page.</p>

<section>
<h2>Pics or it didn't happen:<i class="fa-solid fa-camera-retro"></i> </h2>
    <div class="container-fluid">
<img style="border-radius:50%; margin-left:25%; margin-right:25%" src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/ffw_before_and_after.jpeg" alt="Two photos that compare Valerie Ni Loinsigh before and after weight loss">
    </div>
</section>
<footer>
    {% include 'includes/subscribe.html' %}
</footer>
</body>
</html>

