<h1>Who is she?</h1>
Valerie Ni Loinsigh is the founder
<h1>What are her qualifications?</h1>
Qulaified personal trainer with Setnta College
<h1>What about her own work-life balance?</h1>
Hectic work as Assistant Manager of Bank of New York Mellon Cork Office
Greatly values work-life balance
<h1>What experience does she have with workouts?</h1>
Lost 5 stone after completing ACA exmas (102-70kg)
Goes to the gym five days a week which is all about planning
Ensures to always get quality nutrition and sleep
<h1>Pics or it didn't happen!</h1>

<section style="background-color: fuchsia; border-radius:50%; margin-top: 10%; margin-bottom:10%; justify-content: center;">
<img style="justify-content: center;" src="/media/ffw_before_and_after.jpeg" alt="Two photos that compare Valerie Ni Loinsigh before and after weight loss">
</section>



<footer>
    {% include 'includes/subscribe.html' %}
</footer> 
