{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/56f3ffac854ce27d332da540d/5680bda53978cd7be6d301a83.js");</script>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Get your tailored workout plan now!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'plans' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">View Plans</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div>
      <div>  
{% include 'includes/footer.html' %}
{% endblock %}
{% block postload_js %}
{% endblock %}


     