{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100" style="padding-bottom:40px;">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <div class="my-5">
                    <h4>
                        <a href="{% url 'plans' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">View Plans</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div>
        
    <footer>
{% include 'includes/subscribe.html' %}
    </footer> 

{% endblock %}
{% block postload_js %}
{% endblock %}


     