<!DOCTYPE html>
<html lang="en">
<head>
    <title>Techniques explained</title>
</head>
<body>
<div class="techniques-explained" style="background-color: azure;">
 <hr>   
 <li class="nav-item d-block d-md-none">
    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'ffw' %}" id="ffw-link">
        FFW Main Page
    </a>
</li>
<h1>Techniques explained</h1>
<hr>
<h2>Founder, Valerie Ni Loinsigh, has always found that success depends on two things: planning and approach.</h2>
<hr>
    <ol>
    <li>On her own weight loss journey - losing over five stone in six months, she has considered
    the different approaches that one could take on their fitness journey and has chosen the following eight, differing
    Japanese approaches. She herself employs the pomodoro technique.</li> 
    <li>The client can choose any one of the techniques, and this approach will be applied to the workout plan
    that they are provided with.</li>
    <li>She initially came across these techniques on instragam when completing her usual search for fitness inspiration.</li>
    <li>She came across the techniques on a page titled <a href="https://www.instagram.com/keys4success___/?igshid=MWQ1ZGUxMzBkMA%3D%3D">keys4success</a> and decided that they were also applicable to the approach taken
    when you are in pursuit of specific fitness goals.</li>
    </ol>
<div class="container-fluid">
    <h2>1. Kakeibo <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/Accountant_5jrKMWs_GVJE3Fz.jpg" alt="technique image" style="width:100px;height:100px; border-radius: 50%;"></h2>
    <p>Make a budget and stick to it. Once you have your finances in order, you'll feel less stressed and more motivated 
        to tackle your other goals.</p>
    
    <h2>2. Forest bathing  <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/forest_bathing_3v5ly0V_UEg7bmR.jpg" alt="technique image" style="width:100px;height:100px; border-radius: 50%;"></h2>
    <p>Spend time in nature. It's scientifically proven to reduce stress and improve your mood.
        Take a walk in the park, breath fresh air and let nature recharge you.</p>
    
    <h2>3. Wabi-sabi <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/peace_of_mind_86EzAni_yfQPFKK.jpeg" alt="technique image" style="width:100px;height:100px; border-radius: 50%;"></h2>
    <p>Embrace imperfection. Instead of stressing over every little detail, 
    focus on what's important and find beauty in the simplicity. 
    Done is better than perfect, so go ahead and take action.</p>
    
    <h2>4. Shoshin <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/imperfect_9h7fxIZ_j9qMQOt.jpeg" alt="technique image" style="width:100px;height:100px; border-radius: 50%;"></h2>
    <p>Approach tasks with a beginner's mindset. 
    Don't worry about being perfect or having all the answers. 
    Just be open to learning and trying new things.</p>
    
    <h2>5. Hara Hachi Bu <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/nutrition_measurements_0o5pUdO_0upk0pa.jpg" alt="technique image" style="width:100px;height:100px; border-radius: 50%;"></h2>
    <p>Don't stuff yourself. Eat until you're 80% full and you'll feel more energised throughout the day. 
    Plus you won't have to unbutton your pants after lunch.</p>
    
    <h2>6. Pomodoro <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/pomodoro_technique_htC9BGR_91gQf18.jpg" alt="technique image" style="width:100px;height:100px; border-radius: 50%;"></h2>
    <p>Work for 25 minutes, take a break for 5mins, then repeat. 
    This helps you to stay focussed and avoid burnout. It's a gamechanger for productivity.</p>
    
    <h2>7. Kaizen <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/tiny_tortoise_unsplash_AKw7CBm.jpg" alt="technique image" style="width:100px;height:100px; border-radius: 50%;"></h2>
    <p>Focus on small improvements every day. You don't have to do everything at once, 
    just aim to make progress little by little.<p>
    
    <h2>8. Ikigai <img src="https://fitforwork.s3.eu-west-1.amazonaws.com/media/purpose_unsplash_4X0V3Z0.jpg" alt="technique image" style="width:100px;height:100px; border-radius: 50%;"></h2>
    <p>Discover your purpose in life. Determine the reason you wake up each morning. 
    Choose something that aligns with your strengths, passions and the needs of the world. 
    This is what gives life meaning.</p>
</div>
<footer>
    {% include 'includes/subscribe.html' %}
</footer> 
</div>
</body>
</html>