{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<head>
        <title>Tiers</title>
</head>
<main style="background-color: fuchsia; padding-top: 200px; text-align: center;" class="text-white">
    <div style="justify-content: center;">
        <script src="https://kit.fontawesome.com/7aab5ae5f2.js" crossorigin="anonymous"></script>
        <div class="tenor-gif-embed" data-postid="16739376" data-share-method="host" data-aspect-ratio="0.7125" data-width="10%">
            <a rel="external" target="_blank" href="https://tenor.com/view/%C3%A9de-chorar-valtatu%C3%AD-cry-sad-tears-gif-16739376">éde Chorar Valtatuí Cry GIF</a>from <a href="https://tenor.com/search/%C3%A9de+chorar+valtatu%C3%AD-gifs">éde Chorar Valtatuí GIFs</a>
        </div> <script async src="https://tenor.com/embed.js"></script>
    </div>

        <h1>In Tiers <i class="fa-solid fa-stairs"></i></h1>

        <p>Our workout plans are always in tiers, but tiers of joy!</p>

        <p>Please see a comprehensive explanation of the tier system below:</p>

        <h3>Tier 1-the <em>get a taste for it</em> tier. <i class="fa-solid fa-hourglass-start"></i></h3>

        <p>
            Tier 1: €100
            One month of support from a qualified personal trainer (weekly check-in calls).
            Workout plan tailored to job type, technique and goal stipulated by client.</p>

        <h2>Tier 2-the <em>now that you're hooked, let's make serious progress</em> tier. <i class="fa-solid fa-bars-progress"></i> </h2>

        <p>
            Tier 2: €300
            Three months of support from a qualified personal trainer (weekly check-in calls, mails and texts if you opt in). 
            Workout plan tailored to job type, technique and goal stipulated by client. 
            Basic nutrition plan provided also and a monthly reward system in place.
        </p>
        <h1>Tier 3-the <em>Ultimate Transformation</em> tier. <i class="fa-solid fa-flag-checkered"></i></h1>

        <p>Tier 3: €500
            Six months of support from a qualified personal trainer (weekly check-in calls, mails and texts if you opt in.
            Optional monthly, in-person check-ins are also offered). 
            Periodized workout plan tailored to job type, technique and goal stipulated by client. 
            Detailed nutrition plan provided with a split out of macros and calculation of your protein and calorie goal.
            Also with a monthly reward system in place.</p>
        <hr>
</main>
{% endblock %}