<div class="tiers" style="color:fuchsia; ">
<h1>In Tiers</h1>

<h1>Our workout plans are always in tiers, but tiers of joy!</h1>

<p>Please see a comprehensive explanation of the tier system below</p>

<h1><em>Tier 1-the get a taste for it tier</em></h1>
<div>
 <p>
    Tier 1: €100
    1 months support (weekly calls)
    Workout plan tailored to job type, technique and goal stipulated by client.</p>
</div>>
<h2><em>Tier 2-the now that you're hooked, let's progress tier</em></h2>
<div>
<p>
    Tier 2: €300
3 months support provided (calls, mails and texts if you opt in). 
Workout plan tailored to job type, technique and goal stipulated by client. 
Basic nutrition plan provided also with weekly check-ins.
</p>
</div>

<h3><em>Tier 3-the ultimate transformation tier</em></h3>
<div>
 <p>Tier 3: €500
    6 months support. (calls, mails and texts if you opt in. Optional monthly in-person check-ins). 
    Periodized workout plan tailored to job type, technique and goal stipulated by client. 
    Detailed nutrition plan provided also with weekly check-ins.</p>
</div>
</div>